---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---
<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <!--  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p>Passionate about UX/UI, software development, and data analysis, with a Master's degree in Media Technology (Human-Machine Interaction). My skills include software development, interface modeling/analysis, data analysis, and user experience design.<br>
    During my time at Aalborg University, I participated in projects focused on improving patient experiences, particularly among stroke patients. My thesis concentrated on developing user-friendly applications for them, where I utilized AI conversational agents to enhance engagement and understanding.</p>
  </div>
--->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Master of Science in Media Technology"
      subtitle="From 2021 to 2023 at Aalborg University, Aalborg, Denmark"
    >
    <p>
      During my master's program, I learned how machine learning methods and cognitive science can inform design decisions. I collaborated with an EU research project on treating stroke patients through AI-driven questionnaires. I used design workshops and interviews, which I analyzed through grounded theory and thematic analysis. Additionally, I worked with predictive algorithms based on user behavior.
    </p>
    </TimeLineElement>
    <TimeLineElement
      title="Bachelor of Science in Media Technology"
      subtitle="From 2018 to 2021 at Aalborg University, Aalborg, Denmark"
    >
    <p>
      Media Technology taught me the scientific method, experimental design, design thinking, interaction design, and prototype development with Figma or programming.
    </p>
    </TimeLineElement>
    <TimeLineElement
      title="Technology Anthropology"
      subtitle="From 2015 to 2018 at Aalborg University, Aalborg, Denmark"
    >
    <p>
      Here, I learned anthropological insights to inform UX design and improved user-centered solutions through a deep understanding of cultural and behavioral patterns.
    </p>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Research Assistant as Lead Developer of Moodle Project"
      subtitle="From July 2023 to March 2024 at Aalborg University, Aalborg, Denmark"
    >
    <p>As a Research Assistant at Aalborg University, I worked on further developing the university's digital platforms with a focus on Moodle. My role involved coordinating and managing the project, assigning tasks to interns and research assistants.<br>
    Specifically, I developed new embedding features for digital tools and course templates (HTML, JavaScript, CSS), which were used to create a new design for Moodle courses to make them user-friendly, maintain design principles, and standardize Moodle for students. <br>
    See "New Moodle Embedding Options Supporting Multiple Digital Tools for Educators."</p>
    </TimeLineElement>
    <TimeLineElement
      title="Co-founder of convocare"
      subtitle="From April 2023 to April 2024 at convocare, Aalborg, Denmark"
    >
    <p>
      I worked at a company where I gained experience with continuous discovery and how to ensure that a product solves users' problems.
    </p>
    </TimeLineElement>
    <TimeLineElement
      title="IT Student Assistant"
      subtitle="From January 2023 to June 2023 at Aalborg University, Aalborg, Denmark"
    >
    <p>
      Initiated the Moodle project with a focus on user needs and project direction.
    </p>
    </TimeLineElement>
    <TimeLineElement
      title="Junior Quality Assurance Tester"
      subtitle="From May 2022 to June 2023 at Dynaway, Aalborg, Denmark"
    >
      I performed testing of new features for a mobile app to ensure high-quality app performance with fewer bugs.
    </TimeLineElement>
    <TimeLineElement
      title="User Experience Designer and Developer"
      subtitle="From August 2022 to January 2023 at REDO - NEUROSYSTEMS, Aalborg, Denmark"
    >
      <p>
        During my internship at REDO, I worked on developing a new frontend for their treatment of patients with chronic pain. My primary responsibilities at REDO included analyzing their system and collecting patient feedback through a co-design workshop, as well as providing recommendations for their BCI rehabilitation system user interface design. Additionally, I also developed a new "gamified" interface in Unity for their system.
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="IT Student Assistant"
      subtitle="From July 2021 to September 2021 at Aalborg University, Aalborg, Denmark"
    >
    <p>
      I conducted a series of experiments including my bachelor project, where I investigated the use of VR to improve patient experiences.
    </p>
    </TimeLineElement>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
    <p>The badges are tied to my old student email.</p>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://eu.badgr.com/public/assertions/IJ5qV_39Qsi-6fiaFA4oHQ?identity__email=slehma15@student.aau.dk" target="_blank"> Machine Learning (with link)</a>
    </li>
    <li>
      <a href="https://eu.badgr.com/public/assertions/dBTzjInKSOu0gpAeuCKyhA?identity__email=slehma15@student.aau.dk" target="_blank"> UX modelling (with link)</a>
    </li>
    <li>
      <a href="https://eu.badgr.com/public/assertions/xl6uTHSKRNG7yiKHVCDraA?identity__email=slehma15@student.aau.dk" target="_blank"> Optimization (with link)</a>
    </li>
    <li>
      <a href="https://eu.badgr.com/public/assertions/G-L9kcEcTx-mxZk3jI_kYA?identity__email=slehma15@student.aau.dk " target="_blank"> UX physiology (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C#, C++, CSS, HTML, Java, JavaScript, Python, R</li>
    <li>React Native, Vue, Astro, Tailwind</li>
    <li>Contextual inquiries</li>
    <li>Ethnographic research</li>
    <li>Usability studies</li>
    <li>Survey design and analysis</li>
    <li>Diary studies</li>
    <li>Machine learning</li>
    <li>Figma</li>
    <li>Design thinking</li>
    <li>Agile methodologies</li>
    <li>Design systems</li>
    <li>Adobe</li>
    <li>Unity</li>
    <li>Git</li>
  </ul>
</BaseLayout>
