---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p>Passioneret omkring UX/UI, softwareudvikling og dataanalyse, med en kandidatgrad i Medialogi (Human-machine interaction). Mine kompetencer omfatter softwareudvikling, interface-modellering/-analyse, dataanalyse og brugeroplevelsesdesign.<br>
    I løbet af min tid på Aalborg Universitet har jeg deltaget i projekter med fokus på at forbedre patientoplevelser, særligt blandt slagtilfælde patienter. Min afhandling fokuserede på udvikling af brugervenlige applikationer for dem, hvor jeg udnyttede AI-samtaleagenter til at forbedre engagement og forståelse.</p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Science i Medialogi"
      subtitle="Fra 2021 til 2023 ved Aalborg Universitet, Aalborg, Danmark"
    />
    <TimeLineElement
      title="Bachelor of Science I Medialogi"
      subtitle="Fra 2018 til 2021 ved Aalborg Universitet, Aalborg, Danmark"
    />
    <TimeLineElement
      title="Teknoantropologi"
      subtitle="Fra 2015 til 2018 ved Aalborg Universitet, Aalborg, Danmark"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Forskningsassistent som hovedudvikler af Moodle projektet"
      subtitle="Fra juli 2023 til marts 2024 ved Aalborg Universitet, Aalborg, Danmark"
    >
    <p>Som Forskningsassistent ved Aalborg Universitet arbejdede jeg med videreudviklingen af universitetets digitale platforme med fokus på Moodle. Her var min opgave at koordinere og administrere projektet, tildele opgaver til praktikanter og forskningsassistenter.<br>
    Helt konkret udviklede jeg nye indlejringsfunktioner til digitale værktøjer og kursusskabeloner (HTML, JavaScript, CSS), som blev anvendt til at skabe et nyt design til kurser i Moodle for at gøre dem brugervenlige, opretholde designprincipper og standardisere Moodle for de studerende. <br>
    Se "Nye Moodle-indlejringsoptioner, der understøtter mange digitale værktøjer for undervisere.".</p>
    </TimeLineElement>
    <TimeLineElement
      title="Co-founder af convocare"
      subtitle="Fra april 2023 til april 2024 ved convocare, Aalborg, Danmark"
    >
    <p>
      Indsæt ny tekst her
    </p>
    </TimeLineElement>
    <TimeLineElement
      title="IT Studiemenarbejder"
      subtitle="Fra januar 2023 til Juni 2023 ved Aalborg Universitet, Aalborg, Danmark"
    >
    <p>
      Opstarten på Moodle projektet med fokus på brugerbehov and retningen af projektet.
    </p>
    </TimeLineElement>
    <TimeLineElement
      title="Junior Quality Assurance Tester"
      subtitle="Fra maj 2022 til juni 2023 ved Dynaway, Aalborg, Danmark"
    >
      Jeg udførte test af nye funktioner til en mobilapp for at sikre en app af høj kvalitet med færre fejl.
    </TimeLineElement>
    <TimeLineElement
      title="User Experience Designer and Udvikler"
      subtitle="Fra august 2022 til januar 2023 ved REDO - NEUROSYSTEMS, Aalborg, Danmark"
    >
      <p>
        Under mit praktikophold hos REDO, arbejdede jeg på at udvikle en ny frontned til deres behandling af patienter med kroniske smerter. Mine primære ansvarsområder hos REDO inkluderede analyse af deres system og indsamling af patientfeedback ved hjælp af en co-design workshop, samt at give anbefalinger til deres BCI rehabiliteringssystem brugerflade design. Derudover udviklede jeg også en ny "gamificeret" brugerflade i Unity til deres system.
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="IT Studiemenarbejder"
      subtitle="Fra Juli 2021 til september 2021 ved Aalborg Universitet, Aalborg, Danmark"
    >
    <p>
      Jeg kørte en række eksperimenter herunder mit bachelorprojekt, hvor jeg undersøgte brugen af VR til at forbedre patientoplevelser.
    </p>
    </TimeLineElement>
  </div>
<!--  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>
-->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C#, C++, CSS, HTML, Java, JavaScript, Python, R</li>
    <li>React Native, Vue, Astro, Tailwind</li>
    <li>Contextual inquiries</li>
    <li>Ethnographic research</li>
    <li>Usability studies</li>
    <li>Survey design og analysis</li>
    <li>Diary studies</li>
    <li>Machine learnig</li>
    <li>Figma</li>
    <li>Design thinking</li>
    <li>Agile metoder</li>
    <li>Design systems</li>
    <li>Adobe</li>
    <li>Unity</li>
    <li>Git</li>
  </ul>
</BaseLayout>